<!-- <p>Copyrights by Areesha Maqsood</p> -->
<footer class="footer-main">
    <div class="footer-address">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>House no 123</span> Rawalpindi, Punjab</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>0900 78601</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:customersupport@pakeventures.com">customersupport@pakeventures.com</a></p>
        </div>
    </div>
    <div class="footer-media">
        <div class="footer-icons">
            <p class="footer-p1"> Social Media Accounts</p>
            <a href="https://www.facebook.com/pakwheels/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/pakwheels/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/pakwheels/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://twitter.com/PakWheels" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="footer-copyright">
            <p class="footer-p2">
                All Rights Reserved <i class="fa fa-copyright" aria-hidden="true"> </i> 2022.
            </p>
        </div>
    </div>
</footer>